name: Testing Workflow

on:
  push:
#    tags:
#      - 'v*.*.*'
    branches:
#      - 'main'
#      - 'release/**'
      - 'test/github-action'
#  pull_request:
#    branches:
#      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Build
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          make all
  test-linter:
    runs-on: ubuntu-latest
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Run golangci-lint
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          go run build/ci.go lint -v --new-from-rev=dev
  test-networks:
    runs-on: ubuntu-latest
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Run test networks
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          make test-networks
  test-node:
    runs-on: ubuntu-latest
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Run test node
        run: |
          make test-node
  test-tests:
    runs-on: ubuntu-latest
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Run test tests
        run: |
          git clone --depth 1 https://github.com/kaiachain/kaia-core-tests.git tests/testdata
          make test-tests
  test-others:
    runs-on: kaia-xlarge-runner
    services:
      kafka:
        image: bitnami/kafka:3.7
        env:
          KAFKA_CFG_NODE_ID: 0
          KAFKA_CFG_PROCESS_ROLES: controller,broker
          KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
          KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
          KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
          KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
          KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      redis:
        image: redis:6.0.8-alpine
      localstack:
        image: localstack/localstack:3
    container:
      image: kaiachain/build_base:1.12-go.1.22.1-solc0.8.13-ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Download dev branch
        run: |
          git config --global --add safe.directory /__w/kaia/kaia
          git fetch origin dev:dev
      - name: Run test tests
        env:
          AWS_ACCESS_KEY_ID: ${{ secret.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secret.AWS_SECRET_ACCESS_KEY }}
        run: |
          make test-others